.header {
    background-color: #FDD90B;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content:space-between;
}

.header figure{
    width: 100px;
    height: 100px;
}

#logo {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

.navbar a {
    padding-right: 5%;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #DA001E;
}

.active {
    color: #DA001E;
}