<main class="main">
    <div class="about">
        <h3 class="titlePage">{{title}}</h3>
        <article class="article">
            <h4>{{title2}}</h4>
            <div class="familyItems">
                <img class="articleImage" src="family.png" alt="image de 3 générations d'une famille">
                <div class="familyText">
                    <p>L'idée de cette entreprise est née d'un coup de foudre de mes grands-parents pour la BD
                        d'asterix le gaulois dont la première parution date de 1961. Alors que toute la maison dévorait chaque nouvelle aventure à
                        leur parution, leurs
                        enfants réclamaient les figurines de leurs héros préférés malheureusement hors de prix et
                        inaccessibles à
                        l'époque.
                        C'est alors que ma grand-mère, qui a un bagage artistique, à eu l'idée, à un Noël, d'en
                        confectionner elle-même
                        pour
                        chacun. Bien que les traits furent quelques peu grossiers, son idée à fait mouche, tout le monde
                        étaient ravis
                        du
                        cadeau. Tellement, qu'il n'a pas fallu longtemps à ce que tous leurs enfants se vantent de leurs
                        nouvelles
                        possessions
                        ce qui a permis de faire connaitre le produit par le biais du bouche à oreille.</p>
                    <p>Très rapidement, les autres parents du village leur demandèrent, si contre rétribution, il
                        n'était pas possible
                        pour
                        eux d'en refaire. C'est ainsi que l'idée de les commercialisée est née.</p>
                    <p>Ma grand-mère a ainsi pu vivre de sa passion de l'art tout en restant à la maison pour s'occuper
                        de ses enfants.
                        Mon
                        grand-père et leurs enfants jouant les ambassadeurs/commerciaux dans le village et ses proches
                        alentours. Avant
                        de
                        commencer à les vendre dans les brocantes environnantes.</p>
                    <p>Plus tard, ma mère, décida également de faire une école d'art. Elle paufina alors la technique de
                        modélisation,
                        permettant de faire des figurines plus fines. Le développement des transports à permis de vendre
                        plus loin.</p>
                    <p>Nous sommes aujourd'hui la 3ème génération de la famille à perpétuer ce que nos grands-parent ont
                        façonnés, avec
                        toujours cette même passion.</p>
                </div>
            </div>
        </article>
        <article class="article">
            <h4>{{title3}}</h4>
            <div class="techItems">
                <img class="articleImage" src="figurines.jpg" alt="image de figurines d'Asterix">
                <div class="techText">
                    <p>La volonté de mes grands-parents a toujours été que cette entreprise conserve son côté
                        artisanal </p>
                    <p>Aussi ma grand-mère façonna elle même les figurines en utilisant de la résine. Elle
                        acquis sa technicité au
                        fur
                        et à mesure de ses créations. Elle avait également à coeur de tout peindre elle-même.
                    </p>
                    <p>Ma mère avait apprit les techniques de réalisation par moulage. Elle conserva la matière
                        première mais apporta
                        ainsi
                        son savoir faire afin de confectionner plus rapidement des figurines aux traits plus
                        fins. Elle conserva
                        également la
                        peinture à la main.</p>
                    <p>Pour notre part, nous n'avons pas réalisé d'école d'art. Toutefois nous profitions des
                        avancés technologiques et
                        de
                        nos compétences en informatiques pour réaliser nous même nos figurines à l'aide
                        d'imprimantes 3D. Bien que la
                        résine
                        est été remplacée par du PLA (plastique d'origine végétale), nous gardons cette valeur
                        d'authencité avec une
                        peinture réalisée à la main, en réutilisant les procédés de peinture des figurines de
                        jeux de société.</p>
                </div>
            </div>
        </article>
    </div>
</main>

