.main {
    background-color: #DA0001;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.about {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePage {
    text-transform: uppercase;
}

.article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.familyItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.techItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.articleImage {
    width: 50%;
    height: 50%;
}

.familyText {
    text-align: justify;
}

.techText {
    text-align: justify;
}

@media screen and (min-width: 778px) {
    .articleImage {
        width: 200%;
        height: 200%;
    }

    .familyItems {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 2%;
    }

    .familyText {
        margin-right: 1%;
        text-align: justify;
    }

    .techItems {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 2%;
    }

    .techText {
        margin-left: 1%;
        text-align: justify;
    }
}

@media screen and (min-width: 992px) {
    .articleImage {
        width: 100%;
        height: 100%;
    }

    .familyItems {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 2%;
    }

    .familyText {
        margin-right: 1%;
        text-align: justify;
    }

    .techItems {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 2%;
    }

    .techText {
        margin-left: 1%;
        text-align: justify;
    }
}