<main>
    <div class="card" [ngClass]="{liked: userHasLike}">
        <h4> {{ produit.name }}</h4>
        <img class="figure" [src]="produit.imageUrl" [alt]="produit.name">
        <div class="description">
            <p>{{ produit.description }}</p>
            <p>Toutes nos figurines sont dessinées et imprimées en 3D à partir de bobines en PLA, matière bioplastique compostable.<br> Elles sont églament peintes à la main par nos soins, afin de conserver leur authenticité toute particulière.</p>
        </div>
        <p> {{ produit.prix | currency: 'EUR' }}</p>
        @if(produit.stock !== 0) {
        <p>{{ produit.stock }} en stock</p>
        }@else {
        <p>En rupture de stock</p>
        }
        <div><button class="button" (click)="onLike()">{{likeButtonText}}</button> <span
                [ngStyle]="{ color: 'rgb(0,'+ produit.like +',0)'}">{{ produit.like }}</span></div>
        <a routerLink="">retour à la boutique</a>
    </div>
</main>    
    

