<div class="pageForm">
    <h3>Notre formulaire de contact</h3>
    <p>{{message}}</p>
    <form class="formu" #formRef="ngForm">
        <div class="identity">
            <label for="firstname">
                <input class="idText" type="text" [(ngModel)]="prenom" name="firstname" placeholder="Prénom" required>
            </label>
            <label for="lasttname" >
                <input class="idText" type="text" [(ngModel)]="nom" name="lastname" placeholder="Nom" required>
            </label>
        </div>        
        <label for="object">
            <input class="champ" type="text" [(ngModel)]="sujet" name="object" placeholder="Sujet" required>
        </label>
        <label for="email">
            <input class="champ" type="email" [(ngModel)]="email" name="email" placeholder="Adresse email" required>
        </label>
        <label for="message">
            <textarea [(ngModel)]="texte" name="message" placeholder="Votre message" required></textarea>
        </label>
        <input (click)="onSubmit()" class="envoi" type="submit" value="Envoyer">
    </form>
</div>

