.pageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formu label {
    padding-bottom: 1%;
}

.idText{
    width: 200px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 1%;
}

.champ {
    width: 412px;
    height: 30px;
}

.textarea {
    width: 500px;
    height: 200px;
}