<div class="pageForm">
    <h3>Notre formulaire de contact</h3>
    <p>Veuillez à remplir tous les champs afin de pouvoir vous répondre au mieux</p>
    <form class="formu">
        <label for="firstname">
            <input class="champ" type="text" name="firstname" placeholder="Prénom" required>
        </label>
        <label for="lasttname">
            <input class="champ" type="text" name="lastname" placeholder="Nom" required>
        </label>
        <label for="object">
            <input class="champ" type="text" name="object" placeholder="Sujet" required>
        </label>
        <label for="email">
            <input class="champ" type="email" name="email" placeholder="Adresse email" required>
        </label>
        <label for="messagee">
            <textarea class="textarea" name="message" placeholder="Votre message" required></textarea>
        </label>
        <input type="submit" value="Envoyer">
    </form>
</div>

