.card {
    width: 300px;
    box-sizing:border-box;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    background-color: white;

    h4 {
        margin-bottom: 0;
    }

    p {
        font-weight: 300;
        font-size: 16px;
    }

    .description {
        width: 100%;
        flex-wrap: wrap;
    }

   button {
        box-sizing: border-box;
        padding: 5px 10px;
        border: none;
        box-shadow: lightgray 3px 3px 7px;
        margin-right: 20px;
        outline: none;
        font-size: 14px;
        font-weight: 500;
    }
}

.figure{
    width: 200px;
    height: 200px;
}

.liked{
    background-color: rgba(249, 208, 163, 1);
}