<div class="shopPage">
    <h3>Boutique</h3>
    <div class="functions">
        <button (click)="sortButtonClick()">{{sortButtonText}}</button>
        <input type="text" [(ngModel)]="searchText" placeholder="chercher un personnage"/>
    </div>
    <div class="shop">
        @if (stateButtonText == true){
            @for(produit of produitsArray | sortByPrice | filterBy: ['name']: this.searchText; track produit.name) {
            <app-produits [produit]="produit" />
            }
        }
        @else {
            @for(produit of produitsArray | sortByPriceDec | filterBy: ['name']: this.searchText; track produit.name) {
            <app-produits [produit]="produit" />
            }
        }    
    </div>
</div>
