<div class="shopPage">
    <h3>Boutique</h3>
    <div><button (click)="sortButtonClick()">{{sortButtonText}}</button><input type="search" placeholder="Votre recherche" />{{mySearchString | filterByName:produitsArray}}</div>
    <div class="shop">
        @if (stateButtonText == true){
            @for(produit of produitsArray | sortByPrice | filterByName:mySearchString; track produit.name) {
            <app-produits [produit]="produit" />
            }
        }
        @else {
            @for(produit of produitsArray | sortByPriceDec; track produit.name) {
            <app-produits [produit]="produit" />
            }
        }    
    </div>
</div>
