<main class="main">
    <div class="intro">
        <h1>{{title}}</h1>
        <h2>{{title2}}</h2>
        <div class="introText">
            <p>Nous sommes en 2024 après Jésus-Christ. Toute la Gaule est touchée par le phénomène d'Astérix et des ses
                irréductibles compagnons gaulois. Toute ? Oui ! Car personne ne peut échapper à leurs aventures. Que ça
                soit à travers leurs BDs, dessins animés, films ou
                jeux vidéo. Aussi, créez vos propres histoires dans votre salon, grâce à nos figurines à l'éfigie
                de vos gaulois préférés
                et mener la vie dure, aux camps retranchés de Babaorum, Aquarium, Laudanum et Petibonum...</p>
            <button>En savoir plus</button>
        </div>        
    </div>
    <app-produits-liste />
</main>

